@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600&display=swap");
body {
  display: flex; }

#menu {
  font-family: 'Libre Franklin:300', sans-serif;
  font-weight: 300;
  border-right: 1px red solid;
  font-size: 5vh;
  margin-top: 20px;
  padding-right: 10px; }

span {
  margin: 0px 0px;
  padding: 5px; }

#manager {
  transition: transform 650ms ease-in-out; }

#menuItems {
  transition: transform 650ms ease-in-out; }

#dynamicItem {
  visibility: hidden; }

li {
  list-style-type: none;
  display: inline-block; }

#content {
  font-family: 'Libre Franklin:300', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 15px;
  line-height: 180%;
  font-size: 3vh;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: scroll;
  width: 100%;
  padding-left: 55px;
  padding-right: 300px; }
  #content p {
    padding: 0;
    margin: 0; }
  #content h3 {
    font-weight: 100; }

::selection {
  background: goldenrod;
  color: black; }

:link {
  color: goldenrod;
  text-decoration-style: wavy;
  text-decoration: white wavy underline; }

:active {
  color: blue; }

:visited {
  color: red; }

.active {
  color: black;
  font-weight: 550;
  text-decoration: red wavy underline;
  display: inline-block;
  animation: lol 800ms ease-in-out forwards; }

@keyframes lol {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-4deg); }
  50% {
    transform: rotate(3deg); }
  100% {
    transform: rotate(0deg); } }

#section1, #section2 {
  border-bottom: .06px gray solid; }

@media (max-width: 650px) {
  #content {
    padding: 0px;
    margin: 0px; }
  body {
    display: inline-block; }
  #menu {
    font-size: 2.6vh;
    display: flex;
    padding: 10px 0px;
    margin-bottom: 15px;
    flex-direction: row;
    border-right: none;
    border-bottom: 0.6px red solid;
    overflow: auto; }
    #menu span {
      background-color: mistyrose; }
    #menu #dynamicItem {
      font-size: 3vh; } }
